name: MinuteBots RobotPy Readiness

on:
    push:
        branches: ['main']
    pull_request:
        branches: ['main']

permissions:
    contents: read
    pull-requests: write

jobs:
    Preflight:
        runs-on: ubuntu-latest
        timeout-minutes: 5

        steps:
            - uses: actions/checkout@v4
            - name: Remove bot comments
              if: github.event_name == 'pull_request'
              uses: actions/github-script@v7
              with:
                  script: |
                      let res = await github.rest.issues.listComments({
                        issue_number: context.issue.number,
                        owner: context.repo.owner,
                        repo: context.repo.repo
                      });
                      for (let c of res.data) {
                        if (c.user.login == 'github-actions[bot]') {
                          github.rest.issues.deleteComment({
                            owner: context.repo.owner,
                            repo: context.repo.repo,
                            comment_id: c.id
                          });
                        }
                      }
            - name: Install uv
              uses: astral-sh/setup-uv@v7
            - name: Install dependencies
              run: uv sync
            - name: Check format with black
              run: |
                  uv tool run black --check --diff src
            - name: Type checking with ty
              run: |
                  uv tool run ty src
            - name: Lint with flake8
              run: |
                  # stop the build if there are Python syntax errors or undefined names
                  uv tool run flake8 src --count --select=E9,F63,F7,F82 --show-source --statistics
                  # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
                  uv tool run flake8 src --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics
            - name: Test with pytest
              run: |
                  (cd src && uv run robotpy test -- --log-cli-level=debug)
